#conversation_body {
  height: 200px;
}

.conversation .btn.btn-primary {
  width: 100%;
}

.form-control #conversation_Message {
    margin: 0px -1px 0px 0px;
    width: 523px;
    height: 199px;
}

.form-control.text.required {
    margin: 0px -5px 0px 0px;
    height: 206px;
    width: 529px;
  }
