<div class="container">
  <div class="row">
    <div class="col-md-6 .col-md-offset-3">
      <h3 class="center">All conversations</h3>

      <div class="message">
          <% @conversations.each do |conversation| %>

            <h3>  <%= link_to conversation.subject, conversation_path(conversation) %> </h3>

          <% end %>
          </div>
        </div>
      </div>
      <BR>
      <%= link_to "Find another talent ! ", talents_path, class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
</div>
