<div class="footer">
  <div class="footer-links">
    <h1 class="football">1Café1Talent est un projet conçu par 3 étudiants du Batch82 - Le Wagon Lyon (Ben, Youss et Lo)</h1>
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
</div>
