.card {
  border: 1px solid #dadada;
  box-shadow:
  background-color: white;
  background-size: cover;
  color: $main;
  padding: 15px;
  margin: 15px 0;

  .card h3 {
    font-style: bold;
    color: $main
  }

  .card-image {
    height: 100px;
  }

  .card-description{
    color: lighten($gray, 20%);
    font-size: 0.8em;
  }

  .card-description i {
    color: $main;
  }

  .see_more {
    display: block;
  }

}
